<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>DENY</onMatch>
			<onMismatch>NEUTRAL</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date{ISO8601} %-5level [%thread]
				%class.%method\(%file:%line\) - %msg %n</Pattern>
		</layout>
	</appender>

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>NEUTRAL</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date{ISO8601} %-5level [%thread]
				%class.%method\(%file:%line\) - %msg %n</Pattern>
		</layout>
	</appender>

	<appender name="ANALYTICS"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>search.analytics.events.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>search.analytics.events.%i.log</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>5</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>5MB</MaxFileSize>
		</triggeringPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<!-- only log info events in log file, meaning all events will be logged -->
	
	<!-- 
	<logger name="org.jai.search.analytics.GenerateSearchAnalyticsDataImpl">
		<appender-ref ref="ANALYTICS" />
		<level value="INFO" />
	</logger>
 -->
 
	<!-- Need syslog server for this. <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender"> 
		<syslogHost>remote_home</syslogHost> <facility>AUTH</facility> <suffixPattern>[%thread] 
		%logger %msg</suffixPattern> </appender> <logger name="com.jai.search.analytics"> 
		<appender-ref ref="SYSLOG" /> <level value="TRACE" /> </logger> -->

	<root>
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDERR" />
	</root>

	<logger name="org.jai.search">
		<level value="WARN" />
	</logger>

	<!-- sends logs to logback-beagle 
	<consolePlugin /> -->

	<!-- 	
	<logger name="org.springframework.data.hadoop.hive.HiveTemplate">
		<level value="DEBUG" />
	</logger>
	 -->
	<logger name="org.jai.oozie">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.apache.oozie">
		<level value="WARN" />
	</logger> 
	 
</configuration>
